/* You can add global styles to this file, and also import other style files */

:root{
    --primary-color:#0a58ca;
}
html,body{
    height: 100%;
}

.container{
    height: 100%;
}

button.btn.btn-primary,input.form-control,select.form-select,textarea.form-control {
    background: white;
    color: black;
    border-color: black;
    border-radius: 0;
}